$bg-color: rgb(255, 255, 255);
$bg-color2: rgb(90, 90, 90);
$title-color: rgb(33, 197, 129);
$border-color: rgb(137, 243, 199);
$text-color: rgb(27, 27, 27);
$text-color2:rgb(184, 184, 184);
$hover-color: rgb(0, 93, 231);
$font-text: 'Open Sans', helvetica, arial, sans-serif;
$font-title: 'Montserrat', helvetica, arial, sans-serif;
