<!-- this is index.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/foundation.css" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/master.css' />
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600' />
  </head>
  <body>

      <img src="images/{{images.logo}}" alt="" id="logo">

      <!--<a href="/">Home</a>-->

      <!-- triple handle bars are a shorthand for a router-view -->
      {{{body}}}

      <!--<a href="/images">More images</a>-->

    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/vendor/what-input.js"></script>
    <script src="/javascripts/vendor/foundation.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
