#logo{
    width: 20%;
    height: auto;
    position: absolute;
    right: 0;
    margin-right: 2%;
    margin-top: 1%;
}


@media screen and (max-width: 640px) {
    #logo{
        width: 30%;
        height: auto;
    }
}